body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.app {
  background-color: transparent;
  color: #fff;
  overflow-x: hidden;
}

.welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
}

.tabs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  z-index: 100;
}

.tab {
  margin-left: 10px;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #555;
}

.tab.active {
  background: linear-gradient(90deg, #424bad,#cc3131);
}

#welcome-no-highlight {
  background-color: transparent;
  min-height: 50vh !important; 
}


.welcome-container {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
#education
{
  height: 100vh;
}
.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
}

.view-portfolio-btn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #424bad,#cc3131);
  color: #fff;
  transition: background-color 0.3s, transform 0.3s;
}

.view-portfolio-btn:hover {
  background-color: #555;
  transform: translateY(-5px);
}

.view-portfolio-btn svg {
  margin-top: 5px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.header-container {
  max-width: 800px;
  margin: 0 auto;
}
.header-background-blue{
  background: #424bad;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-background-red{
  background: #cc3131;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header .icon {
  margin-right: 10px;
  font-size: 32px;
}

.section-header h2 {
  color: #fff;
  margin: 0;
  font-size: 42px;
}

.education-details {
  margin-top: 50px;
  margin-bottom: 50px;
}
#experience {
  background-color: transparent;
  padding: 40px;
  color: #fff;
  text-align: center;
}
.experience-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.experience-item img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.experience-item h3 {
  font-size: 24px;
  margin-right: auto; 
}

.experience-item .bullet-points {
  margin-top: 10px;
  text-align: left;
}
.skills-content-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.skills-content {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-container img {
  width: 125px;
  height: 125px;
  object-fit: contain;
  margin-right: 10px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}